:root {
    --jaff-grid-primary: rgba(75, 85, 99, 0.04);
    --jaff-grid-secondary: rgba(55, 65, 81, 0.05);
    --jaff-grid: rgba(75, 85, 99, 0.1);
}

[data-md-color-scheme="slate"] {
    --jaff-grid-primary: rgba(255, 255, 255, 0.05);
    --jaff-grid-secondary: rgba(255, 255, 255, 0.05);
    --jaff-grid: rgba(255, 255, 255, 0.1);
}

.md-main__inner {
    position: relative;
    max-width: 1436px;
    background-color: var(--md-default-bg-color);
}

.md-content {
    position: relative;
    width: 100%;
    min-height: 100svh;
    border-right: 1px solid var(--jaff-grid);
    border-left: 1px solid var(--jaff-grid);
}

.md-tabs,
.md-footer,
.md-nav__link--active,
.md-nav__link:hover,
.grid.cards > ul > li,
.admonition,
.tip,
table {
    backdrop-filter: blur(20px);
}

table,
.grid.cards > ul > li {
    border-radius: 0.5rem !important;
}
